/*Global Styles*/
*{
  /* user-select: none; */
}
body{
  background-image: url("matrix.jpeg");
  height: 100%;
  width: 100%;
}
.sidebar h1 {
  font-size: 60px;
  color: white;
}

p{
  font-size: 16px;
}

button{
  color: #000;
  font-size: 20px;
  background-color: #fedc3d;

  border-color: #fea680;
  outline: none;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

.sidebar button{
  border-radius: 35px;
  margin: 10px 10px;
}
button:focus { outline: none; }

.frame{
  text-align: center;
}

.cell{
  width: 80px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  padding: 0 0 0 15px;
  margin: 10px;
  text-align: center;
}
.line-zero rows{
  border: 2px solid #fea680;
}

#solution{
  visibility: hidden;
}

#green{
  font-weight: bold;
  color: green;
}

#orange{
  font-weight: bold;
  color: orange;
}

#red{
  font-weight: bold;
  color: red;
}

.sidebar{
  background-color: #669966;
}

#display{
  color: #fff;
}
