/*Global Styles*/
body{
  height: 800px;
  width: 800px;
  margin: auto;
  background-color: #000;
  color: #01abaa;
}
h1 {
  font-size: 50px;
}

p{
  font-size: 18px;
}

button{
  font-size: 20px;
  background-color: #fedc3d;
  border-radius: 35px;
  border-color: #fea680;
  outline: none;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin: 10px 20px;
}
button:focus { outline: none; }
/**/
.frame{
  text-align: center;
  background-color: ;
  height: 860px;
}

.cell{
  width: 90px;
  height: 90px;
  font-size: 60px;
  text-align: center;
  padding: 0 15px 0 15px;
  margin: 20px;
  text-align: center;
}
.line-zero rows{
  border: 2px solid #fea680;
}

/* For testing visibility */
#solution{
  border: 2px solid red;
  /* visibility: hidden; */
}
